.wrapper {
    padding: 0 19px;
    max-width: 1200px;
    margin: 0 auto;

    &--medium {
         margin-right: auto;
        margin-left: auto;
     }

     .wrapper {
         padding-left: 0;
         padding-right: 0;
     }
}